* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.red-container {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.green-container {
  width: 100%;
  height: 100vh;
  background-color: green;
}

.yellow-container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

