* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

/* footer */
header{
  background-color: black;
}

.fixed-header {
  position: absolute;
  top: 10px;
  left: 5px;
}

/* main */
/* colored container layout */
.red-container,
.yellow-container,
.green-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: red;
}

.yellow-container {
  background-color: yellow;
}
.green-container {
  background-color: green;
}

/* centre img and text  */
.first-pair-of-shoes,
.second-pair-of-shoes,
.third-pair-of-shoes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* text layout */
.footer-shoes-text,
.footer-second-shoes-text,
.footer-third-shoes-text {
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
}

.second-pair-of-shoes .footer-second-shoes-text{
  color: green;
}


