* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

/* colored container layout */
.red-container {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.first-pair-of-shoes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-shoes-text {
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
}
.green-container {
  width: 100%;
  height: 100vh;
  background-color: green;
}

.yellow-container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

.spot-text {
  font-size: 4em;
}